.layout {
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;      
    background: #370617;
    border-radius: 0px;
    
}

.box-one {
    gap: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #F48C06;
    border-radius: 5px;
}

.box-one-box {
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.box-two {
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width: 468px;
    height: 160px;   
    margin-top: 20px;
    margin-left: 20px; 
    background-color: #F48C06;
    border-radius: 5px; 
    gap: 20px;
}

.box-two-box {
    background-color: #9D0208;
    height: 120px;
    width: 78px;
    left: 683px;
    top: 110px;
    border-radius: 5px;      
}

.square3 {
    height: 160px;
    width: 468px;
    left: 98px;
    top: 270px;  
}

.box-three {
    width: 468px;
    height: 160px;
    margin-top: 20px; 
    margin-left: 20px;  
    display:inline-flex;
    justify-content: flex-end;
    align-items:center;
    background-color: #F48C06;
    border-radius: 5px; 
    gap: 20px;  
}

.box-three-box {
    background-color: #9D0208;
    height: 78px;
    width: 78px;
    left: 272px;
    top: 311px;
    border-radius: 8px;    
}

.box-four {
    width: 468px;
    height: 160px;  
    margin-top: 20px;
    margin-left: 20px;
    background-color: #F48C06;
    border-radius: 5px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    gap: 97px;
}

.box-four-box {
    background-color: #9D0208;
    height: 78px;
    width: 78px;
    left: 20px;
    top: 20px;
    right: 370px;
    bottom: 62px;
    border-radius: 4px;        
}

.box-four-box2 {
    background-color: #9D0208;
    height: 78px;
    width: 78px;
    left: 195px;
    top: 20px;
    right: 195;
    bottom: 62px;
    border-radius: 4px;    
}

.box-four-box3 {
    background-color: #9D0208;
    height: 78px;
    width: 78px;
    left: 370px;
    top: 62px;
    right: 20px;
    bottom: 20px;
    border-radius: 4px;  
}

.square5 {
    width: 468px;
    height: 160px;
    left: 20px;
    top: 450px;  
}

.box-five {
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F48C06;
    border-radius: 5px;  
    gap: 54px;    
}

.box-five-box {
    background-color: #9D0208;
    border-radius: 4px;
    width: 78px;
    height: 120px;
    left: 425px;
    top: 470px;        
}

.box-five-box-small {
    background-color: #9D0208;
    border-radius: 4px;
    width: 78px;
    height: 64px;
    left: 293px;
    top: 493px;
}

.box-5-some-text {
    color: #ffffff;
    text-align: left;
    font: 400 12px "Roboto";
    left: 425px;
    top: 470px;  
  }
  .box-5-some-text2 {
    color: #ffffff;
    text-align: left;
    font: 400 12px "Roboto";
    left: 293px;
    top: 493px;
  }
  .box-5-some-text3 {
    color: #ffffff;
    text-align: left;
    font: 400 12px "Roboto";
    left: 425px;
    top: 470px;  
  }

.square6 {
    height: 160px;
    width: 468px;
    left: 586px;
    right: 20px;
    top: 450px;  
}

.box-six {
    width: 468px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    background-color: #F48C06;
    border-radius: 5px; 
    gap: 20px;    
}

.box-six-box-big {
    background-color: #9D0208;
    border-radius: 8px;
    width: 156px;
    height: 78px;
    left: 742px;
    top: 491px;
}

.box-six-box {
    background-color: #9D0208;
    border-radius: 8px;
    width: 78px;
    height: 78px;
    left: 644px;
    top: 491px;
}



